# Python
__pycache__/
*.pyc
*.pyo

# Virtual environments
venv/
.venv/
env/

# Environment variables
.env

# Jupyter Notebook
.ipynb_checkpoints/

# Temporary files
*.tmp
*.log

# OS files
.DS_Store
Thumbs.db
